@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

body,html {
  margin: 0;
  font-family: 'Red Rose', cursive;  
  overflow-x: hidden;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}

#text-color{
  color: #a02279;  
}

#button-color{
  border-color: #a02279;
  background-color: #a02279;
}

#footer-first-section{
  border-color: #a02279;
  background-color: #a02279;
}

#button1-color{
  color: #a02279;
  border-color: #a02279;
  background-color: #FFFFFF;
}

#third-section{
  border-color: #a02279;
  background-color: #a02279;
}

#last-section{
  border-color: #1d1d1E;  
  background-color:#1d1d1E;  
}

#connect-wallet{
  border-color: #F8F9FA;  
  background-color:#F8F9FA;  
}

#navigation-bar-menu{
  border-color: #FFFFFF;  
  background-color:#FFFFFF;  
}